# Logs
logs

# Output of 'npm pack'
build/
dist/

# reports
*.txt

# Coverage directory used by tools like jest
coverage/

# Dependency directories
node_modules/
**/node_modules/

registerServiceWorker.js